<div class="dashboard-container">

    <div class="search-bar-row">
        <div class="search-box">Search</div>
        <div class="profile-box">
            <ul>
                <li>C</li>
                <li>M</li>
                <li>N</li>
                <li>P</li>
            </ul>
        </div>
    </div>
    
    <div class="dashboard-wrapper">
    
        <div class="first-wrapper">
            <div class="dashboard"></div>
            <div class="dashboard1"></div>
            <div class="dashboard2"></div>
        </div>
    
        <div class="second-wrapper">
            <div class="dashboard"></div>
            <div class="dashboard1"></div>
            <div class="dashboard2"></div>
        </div>
        
    </div>

</div>
