<form (ngSubmit)="addStudent()" [formGroup]="studentForm">
    <div class="neptunCode">
        <label for="neptunCode">Neptun Code</label>
        <input type="text" name="neptunCode" id="neptunCode" formControlName="neptunCode">
    </div>
    <div class="email">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" formControlName="email">
    </div>
    <div class="dropdown">
        <label for="selectedUser">Choose a user</label>
<br>
        <select name="selectedUser" formControlName="selectedUser" (change)="toggleDropdown($event)" class="">
            <option>--Select--</option>
            <option [value]="dropdown.value" *ngFor="let dropdown of dropdowns">{{dropdown.value}}</option>
        </select>
    </div>



    <br>
    <button type="button" (click)="logout()">Logout</button>

    <button>Add Student</button>


</form>




<!--    <div class="dropdown">
        <button type="button" class="dropdown-button" (click)="toggleDropdown()">Select User</button>
        <div class="dropdown-content" *ngIf="isDropdownOpen">
            <p *ngFor="let dropdown of dropdowns">
                {{dropdown.value}}
            </p>
        </div>
    </div>-->