* , html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
  }

.main-container{
    height: 100vh;
    display: flex;
    overflow-y:hidden;
    background-color: white;
}

.sidebar{
    width: 240px;
    flex-shrink: 0;
}


.router-container{
    display: flex;
    flex-basis: 100%;
    padding-left: 3%;
    background-color: #f0f0f0;
    overflow-y: scroll;
    scrollbar-width: none;
}



    




