* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
  }

.main-container{
    display: flex;
}

.sidebar{
    width: 15%;
    background-color: #f0f0f0;
    height: 100vh;
}


.router-container{
    flex-basis: 100%;
    padding-left: 3%;
    background-color: #f0f0f0;
}



    




