<div class="login-page">
  <div class="login-form">
    <br><br>
    <form (ngSubmit)="login()" *ngIf="showLogin" [formGroup]="loginForm">
      <h2>Login</h2>
      <br>
      <div class="inputbox">
        <input type="text" id="neptunCode" formControlName="neptunCode" placeholder="neptun code">
      </div>
      <br>
      <div class="inputbox">
        <input type="password" id="password" formControlName="password" placeholder="password">
      </div>
      <br>
      <button class="inputbox" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>

    <form (ngSubmit)="register()" *ngIf="showRegister" [formGroup]="registrationForm">
      <h2>Register</h2>
      <br>
      <div class="inputbox">
        <input type="text" id="neptunCode" formControlName="neptunCode" placeholder="neptun code">
      </div>
      <br>
      <div class="inputbox">
        <input type="text" id="email" formControlName="email" placeholder="email">
      </div>
      <br>
      <div class="inputbox">
        <input type="password" id="password" formControlName="password" placeholder="password">
      </div>
      <br>
      <div class="inputbox">
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="confirm password">
      </div>
      <br>
      <button class="inputbox" type="submit" [disabled]="!registrationForm.valid">Register</button>
    </form>
    <div class="buttons">
      <a href="#" *ngIf="showLogin" [hidden] >Forgot password</a>
      <button (click)="showLoginForm()" *ngIf="showRegister" [hidden] id="showlogin">Login</button>
      <button (click)="showRegisterForm()" *ngIf="showLogin" [hidden]>Register</button>
      
    </div>
  </div>
</div>