.nav{
    height: 100vh;
    background-color: red;
    flex-basis: 9%;
    
}

.nav-background{
    background-color: blue;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
    align-content: center;
    list-style: none;
    height: 100vh;
}

.logo{
    height: 10%;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}


li {
    font-size: 1.5em; /* Adjust the base font size */
}

@media (max-width: 768px) {
    li {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    li {
        font-size: 1em; /* Adjust font size for even smaller screens */
    }
}
